{% extends 'base.html' %}


{% block content %}


<body>
   
            
            

 

    <section class="main" id="main">
      <div class="title">
        
       <div class="contact" id="cont">
        <div class="cont">
         
          
              <h1 style="color: #285430;  font-family: 'Cairo';font-size: 30px;">منصة استئجار مرافق الجامعة </h1>
              <p style="color: #285430;  font-family: 'Cairo';font-size: 25px;"> تستهدف هذه المنصة الراغبين في الإستفادة من مرافق جامعة الملك خالد </p>  
          </div>
    
       
        
     
      </div>



    <div class="bock">
        <a href="/pls">احجزالآن</a>
      
      </div>
      
    </section>


    
    <footer class="footer">
     
        <div class="image-footer">
          <img src="static/Images/login_logo.png">
      </div>
    
    
      
  </footer>
  
</body>
{% endblock content %}
</html>