<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    

    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/style.css">
    <title>renting system</title>
    <nav class="navbar fixed-top">
      <div class="container-fluid">
        <img class="header-img" src="static/Images/logom.jpg" width="130px" height="80px">
        <nav class="navigation">
          <a href="/">الرئيسية</a>
          <a href="/login">تسجيل الدخول</a>
          <a href="/contact">تواصل معنا</a>
          <a href="/team">المطورين</a>
          <a href="/pls">مرافق الجامعة</a>
        </nav>
      </div>
    </nav>
</head>

 <body>
   <section class="main" id="main">
      <div class="container">
        <h3 class="info">تسجيل الدخول</h3>
      <form dir="rtl">
        <div class="mb-3 form-inputs-login">
          <label for="exampleInputEmail1" class="form-label">البريد الالكتروني</label>
          <input type="email" class="form-control" id="exampleInputEmail1" />
        </div>
        <div class="mb-3 form-inputs-login">
          <label for="exampleInputPassword1" class="form-label">كلمة المرور</label>
          <input type="password" class="form-control" id="exampleInputPassword1" />
        </div>
                                                 
        
                                                   <button type="submit" class="btn btn-primary" style="background-color:#285430"><a href="Profile.html" style="text-decoration: none; color: #fff;">الدخول</a></button>
                                                  </form>
                                                  </div>
                                                      
                                                </section>
  
   


  <footer class="footer">
 
    <div>
        <img src="static/Images/login_logo.png">
    </div>
    
</footer>

 </body>
</html>